VITE_SUPABASE_URL=https://etfeopoiguuwijjdeiwo.supabase.co
VITE_SUPABASE_ANON_KEY=tu-anon-key-aqui
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tu-key-aqui

NEXT_PUBLIC_SUPABASE_URL=https://etfeopoiguuwijjdeiwo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tu-key-aqui
